.NavBarStyle{     
    max-height: 102px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 102px;
}
.uls{
    margin: auto;
    display: flex;
    justify-content:space-between ;
    max-width: 1173px;
    
    
}
.divStyle{
    align-items: center; 
    justify-content: center;
    display: flex;
}
.uls1{
    margin: auto;
    display: flex;
    justify-content:space-between ;
    min-width: 700px;
   
}
.ContabStyle{
    color: white;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px; 

    display: flex;
}
.inicioStyle{
    color:white;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight:600;
    font-size: 16px;
    width: 100% ;
    display: flex;
    border-radius: 0.4rem; 
    justify-content: center;
    align-items: center;    
}
.inicioStylet{
    color:white;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight:600;
    font-size: 25px;
    width: 100% ;
    display: flex;
    border-radius: 0.4rem; 
    justify-content: center;
    align-items: center;  
    
    display: none;
    height: 100%;
}
.spC{
    background: linear-gradient(55deg ,#3f37c9 , #4361ee , #4895ef ,#4cc9f0);
    display: flex;
    border-radius: 0.4rem; 
    justify-content: center;
    align-items:flex-end;  
}
@media (max-width: 830px) {
    .inicioStylet{
        display: flex;
        
    }
    .inicioStyle{
     
        display: none;
  
    }
    .uls1{
        margin: auto;
        display: flex;
        justify-content:space-between ;
        min-width: 100%;
       
    }

}
@media (max-width: 620px){
    .NavBarStyle{     
        min-height: 56px;   
    }
}
/*



.inicioStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
}
.inicioStyle:active{
    color:white;
}
.AppStyle{
    color:white;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;    
    font-weight:600;
    font-size: 16px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
    margin-right: 90px;
    min-width:120px;
}
.AppStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;
}
.AppStyle:active{
    color:white;
}
.CliStyle{
    color:white;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight:600;
    font-size: 16px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
    margin-right: 90px;
    min-width:80px;
}
.CliStyle:hover{
    background-color:white;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;
}
.CliStyle:active{
    color:aliceblue;
}
.CurStyle{
    color: white;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight:600;
    font-size: 16px;
    width: 70px;
    height: 30px;
    text-align:end;
    line-height:30px;
    border-radius: 0.4rem;
    min-width:70px;
}
.CurStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
    color: rgba(235, 235, 245);
}
.CurStyle:active{
    background-color:rgb(84, 126, 241);
    
}
@media (max-width: 1150px) {
    .ContabStyle {
      /* Estilos para pantallas con un ancho máximo de 768px */
     /* position:fixed;

    }
    .NavBarStyle{     
        padding-right:30px;
    }
}
*/