.NavBarStyle{     
    background-color:#282828;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.ContabStyle{
    color: rgba(235, 235, 245, .70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size: 14px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
    display: block;
    user-select: none;
    padding-right: 50%;
   
}
.inicioStyle{
    color: rgba(235, 235, 245, .70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size: 14px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
    
}
.inicioStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
}
.inicioStyle:active{
    color:aliceblue;
}
.AppStyle{
    color: rgba(235, 235, 245, .70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
}
.AppStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
}
.AppStyle:active{
    color:aliceblue;
}
.CliStyle{
    color: rgba(235, 235, 245, .70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size: 14px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
}
.CliStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
}
.CliStyle:active{
    color:aliceblue;
}
.CurStyle{
    color: rgba(235, 235, 245, .70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size: 14px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height:30px;
    border-radius: 0.4rem;
}
.CurStyle:hover{
    background-color: #535353;
    border-radius: 0.4rem;
    cursor: pointer;
}
.CurStyle:active{
    color:aliceblue;
}