.inicioS{
    background-color:transparent;
    width: 100%;
    height: calc(100vh - 30vh) ;
    padding-left: 20%;
    padding-right:20%;
    display: flex;
    justify-content: space-around;
}
.p{
    color: white;
    text-align:start;
    line-height:30px;
    display: block;
    user-select: none;
    margin-right: 10px ;
    min-width:543px;
    margin-left: 5px;
    margin-top: 40px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
}

.p1{
    color: white;

    
    
    font-weight:600;
    margin-left: 5px;
    margin-top: 65px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
}
.p2{
    color: black;
    min-width:1070px;
    font-weight:600;
    margin-top: 65px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
}
.p3{
    color: black;
    text-align:start;
    line-height:30px;
    display: block;
    user-select: none;
    min-width:543px;
    margin-top: 60px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
}
.i{
    width: 560px;
    height: 307px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 1rem;
}
.button {
    margin-right: 40px ;
    margin-left: 60px;
    margin-top: 40px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.5em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 1rem;
    color: #fff;
    height: 2.8em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }
@media (max-width: 1901px) {
    .p{
        margin-left: 10px;
    }
    .p1{
        margin-left: 10px;
    }
  }