.article{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}
.headerc{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 628px;
    gap: 30px;
    position: relative;
}
.i{
    max-width: 560px;
    max-height: 307.59px;
    border-radius: 1rem;
    display: flex;
}
.divco{
    max-width: 1173px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
   
    
}
.divco1 {
    position: relative;
    inset: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    max-width: 1173px;
    overflow: hidden;
    z-index: 1; /* Agregado z-index */
    padding: 10px;
    background: radial-gradient(#0466c8 100%, #002855 0%) ;
}

.divco1::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color:black;
    border-radius: inherit;
    z-index: -1;
}
.divp{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    display: flex; 
    place-content: center;
}
.ulp{
    position: relative;
    inset: 0;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    gap: 30px;
    justify-content: space-between;
    max-width: 1173px;
    overflow: hidden;
    z-index: 1; /* Agregado z-index */
    padding: 10px;
    background: linear-gradient(45deg,tomato 0%, gold 100%) ;
}
.ulp::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:#001233;
    border-radius: inherit;
    z-index: -1;
}

@media (max-width: 780px) {
    .divco1{
        background-color:transparent;
        display: flex;
        flex-direction:column;
        justify-content: center;
        gap: 30px;
        justify-content: space-between;
        max-width:1173px ;
   
       
        background: none;
       
    }
    .i{
        max-width: 100%;
    }
    .divco1::before {
        display: none;
    }
}
  .p{
    color: white;   
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
}

.p1{
    background: -webkit-linear-gradient(45deg,tomato 0%, gold 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight:600;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
}
.p2{
    
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
    color:white;
}
.p3{
    color:white;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
}

/*.inicioS{
    background-color:transparent;
    width: 100%;
    height: calc(100vh - 30vh) ;
    padding-left: 20%;
    padding-right:20%;
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: 40px ;
    margin-left: 60px;
    margin-top: 40px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.5em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 1rem;
    color: #fff;
    height: 2.8em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }
*/