.fondo1{
    width: 100%;
    height: 730px;
    background: linear-gradient(55deg ,#3f37c9 , #4361ee , #4895ef ,#4cc9f0);

}
.fondo2{
    background: linear-gradient(0deg ,#001233 , #5c677d);
    width: 100%;
    height: 100vh;
}
.fondo3{
    background: linear-gradient(0deg ,#001233 , #5c677d);
    width: 100%;
    height: 100vh;
}
.fondo4{
    background: linear-gradient(0deg ,#001233 , #5c677d);
    width: 100%;
    height: 100vh;
}   